@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Mission06_Baird.Models 

@model List<Mission06_Baird.Models.MovieSubmission>


<table class="table table-bordered">

    <thead class="fw-bold">
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>LentTo</td>
        <td>Notes</td>
    </thead>


    @foreach (var x in Model)
    {
        <tbody>
            <tr>
                <td>@x.MovieSubmissionId</td>
                <td>@x.CategoryId</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieSubmissionId">Edit</a></td>
                <td><a class="btn btn-danger">Delete</a></td>
            </tr>

        </tbody> 
    }

</table>